<!DOCTYPE html>
<html>
<head>
	<title>equipodocente</title>
</head>
<body>
	<h1>Hola, aqui se encuentra la lista del equipo docente</h1>
	<h1>Ayudantes</h1>
	<h3>Carlos Alberto Vega Hernández</h3>
	<h3>Catalina Martin D.</h3>
	<h3>Eduardo Valerio C.</h3>
	<h3>Juan Gutiérrez T.</h3>
	<h3>Matias Rojas</h3>
	<h3>Nicolas Villa Contardo</h3>
	<h3>Sebastián Donoso</h3>
	<h3>Sofia Herrera</h3>
	<h3>Victoria Arce A.</h3>
	<h1>Profesor Auxiliar</h1>
	<h3>Javiera Ovalle T.</h3>
	<h3>Jorge Pinto</h3>
	<h3>José Canto</h3>
	<h3>Macarena V. Osorio A.</h3>
	<h1>Profesor de Cátedra</h1>
	<h3>Ángel Jiménez Molina</h3>
	<h3>Iván Díaz Campos</h3>

<br>
<a href="{% url 'index' %}">Hola, haz click aqui para volver al inicio</a>
<br>
<a href="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/integrantes/">Hola, haz click aqui para ver los integrantes del equipo docente en u-cursos</a>
<br>
<a href="{% url 'pestaña' %}">Hola, haz click aqui para ver la otra pestaña</a>
</body>
</html>